$fa-font-path: 'fonts/fontawesome';

@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

$font-family: Helvetica, Arial, sans-serif;

@mixin text {
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  font-family: $font-family;
}

@mixin H1 {
  @include text;
  font-size: 2.5rem;
}

@mixin H2 {
  @include text;
  font-size: 2rem;
}

@mixin H3 {
  @include text;
  font-size: 1.5rem;
}

@mixin H4 {
  @include text;
  font-size: 1.125rem;
}

@mixin H5 {
  @include text;
  font-size: 1rem;
}

@mixin H6 {
  @include text;
  font-size: 0.875rem;
}

@mixin Paragraph {
  @include text;
  font-size: 1rem;
}

@mixin H7 {
  @include text;
  font-size: 0.75rem;
}

@mixin H8 {
  @include text;
  font-size: 0.625rem;
}

@mixin H9 {
  @include text;
  font-size: 0.5rem;
}
