# Any changes to indernal-signer service code deserve extra scrutiny to prevent key
# exfiltration and general "roll your own crypto" mistakes. Newer
# contributions to internal-signer code should be assumed insecure, requiring
# agreement across the team to merge.
/background/services/internal-signer/* @tahowallet/extension-security-auditors
# Any changes to dependencies deserve extra scrutiny to help prevent supply
# chain attacks
yarn.lock @tahowallet/extension-dependency-auditors
# Any changes to code owners deserve extra scrutiny
.github/CODEOWNERS @tahowallet/extension-security-auditors
