{
  "extends": "airbnb",
  "globals": {
    "chrome": "readonly"
  },
  "rules": {
    "react/jsx-one-expression-per-line": [0],
    "react/jsx-filename-extension": [0]
  },
  "parser": "babel-eslint"
}
