@font-face {
  font-family: "Segment";
  src:
    url("./fonts/segment-semibold.woff2") format("woff2"),
    url("./fonts/segment-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Segment";
  src:
    url("./fonts/segment-medium.woff2") format("woff2"),
    url("./fonts/segment-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Segment";
  src:
    url("./fonts/segment-regular.woff2") format("woff2"),
    url("./fonts/segment-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Quincy CF";
  src:
    url("./fonts/QuincyCF-Medium.woff2") format("woff2"),
    url("./fonts/QuincyCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Quincy CF Text";
  src:
    url("./fonts/QuincyCF-Text.woff2") format("woff2"),
    url("./fonts/QuincyCF-Text.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
