:root {
  --hunter-green: #002825;
  --castle-black: #0a0806;
  --green-120: #001413;
  --green-95: #013834;
  --green-80: #074b48;
  --green-60: #497270;
  --green-40: #7da19f;
  --green-20: #b8d1d0;
  --green-5: #ebfffe;

  --trophy-gold: #ef9c32;
  --gold-120: #b57017;
  --gold-80: #f0ac55;
  --gold-60: #efbf81;
  --gold-40: #f5dab7;
  --gold-20: #fbedda;
  --gold-5: #fdf6ed;
  --white: #ffffff;

  --error: #ec3137;
  --error-80: #ae383b;
  --error-20: #372a29;

  --success: #20c580;
  --success-20: #0a5740;

  --attention: #f2b824;
  --attention-20: #495325;

  --info: #3cc5ee;
  --info-20: #125761;

  --link: #14b9ea;

  --shadow: 0px 16px 16px rgba(0, 33, 30, 0.14),
    0px 6px 8px rgba(0, 33, 30, 0.24), 0px 2px 4px rgba(0, 33, 30, 0.34);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0;
  font-family: "Segment", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  position: relative;
  color: #fff;
  font-size: 16px;
  background-color: var(--hunter-green);
}

body.popup {
  width: 384px;
  height: 594px;
  scrollbar-width: none;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

input,
textarea {
  all: unset;
  cursor: text;
}

ul,
li {
  all: unset;
  list-style-type: none;
}

form {
  all: inherit;
  padding: 0;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
}

.standard_width {
  width: 352px;
}

.standard_width_padded {
  width: 352px;
  padding: 0px 8px;
  box-sizing: border-box;
}

.center_horizontal {
  margin: 0 auto;
}

.center_text {
  text-align: center;
}

.serif_header {
  color: #fefefc;
  font-family: "Quincy CF";
  font-size: 38px;
  font-weight: 400;
  padding: unset;
  margin: unset;
}

label {
  display: flex;
  flex-direction: column;
  line-height: 27px;
  margin-top: -5.5px;
}

.label {
  color: var(--green-40);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  display: flex;
  justify-content: space-between;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.no_click {
  pointer-events: none;
}

.divider {
  width: 80%;
  height: 2px;
  opacity: 60%;
  background-color: var(--green-120);
}

.simple_text {
  color: var(--green-40);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}